@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #232323;
    font-family: "Manrope", sans-serif;
}

.container {
    padding: 0 60px;
}

.healthcare__header--description-text,
.healthcare__about--right-text,
.healthcare__facts--item-description {
    text-indent: 40px;
}


/* HEALTHCARE HEADER */

.healthcare__header {
    display: flex;
}

.healthcare__header--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 50%;
    padding: 0 0 0 60px;
}

.healthcare__header--description-title {
    font-size: 75px;
    padding-bottom: 50px;
}

.healthcare__header--description-text {
    max-width: 565px;
}

.healthcare__header--image {
    flex: 1 0 50%;
    height: 100%;
    min-height: 880px;
}

/* ABOUT */

.healthcare__about {
    display: flex;
    min-height: 380px;
}

.healthcare__about > div {
    flex: 1 0 50%;
}

.healthcare__about--right {
    display: flex;
}

.healthcare__about--right-text {
    max-width: 525px;
    align-self: center;
}

/* VIDEO */

.healthcare__video {
    padding-bottom: 70px;
}

.healthcare__video--wrapper {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}

.healthcare__video--wrapper video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    width: 100vw;
    max-width: calc(100vw - 120px);
    transform: translate(-50%, 0);
    transition: max-width 1s;
}

/* HEALTHCARE FACTS */

.healthcare__facts {
    padding-top: 145px;
    padding-bottom: 145px;
}

.healthcare__facts--items {
    display: flex;
    flex-wrap: wrap;
}

.healthcare__facts--item {
    flex: 1 0 50%;
    min-height: 385px;
}

.healthcare__facts--item-title {
    font-size: 12px;
}

.healthcare__facts--item-number {
    font-size: 130px;
}

.healthcare__facts--item-description {
    max-width: 500px;
    font-size: 24px;
}
